
#game-screen {
  height: 750px;
  width: 600px;
}

/* Header Line */
#flex-box{
border: 10px solid; color: transparent;

}

nav{
float: right;

}

/* Instructions Text */
#instructions{
padding: 122px;
width: 110px;
float: right;
background-color: blue;
}


/* Scroll for Instructions */
.scroll{
width: 110px;
height: 110px;
overflow: scroll;
}


/* Game Screen */
canvas{
  padding-left: 30%;
  padding-right: 0;
  background-color: black;
  
}

body {
  background-color: #444;
  color: white;
}
header {
  background-color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  margin: auto 0px;
  text-align: center;
}
nav{
  background-color: black;
  float: right;
  margin: 0px auto 30px auto;
  padding-bottom: 30px;
  width: 100%;
}
nav button {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  float: right;
  font-size: 14px;
  height: 40px;
  margin-top: 30px;
  width: 80px;
}
nav button:hover {
  transform: scaleY(1.2) translateY(-3px);
}
main {
  margin: 30px auto;
  width: 960px;
}
/* Game Screen */
canvas{
  background-color: white;
  float: left;
}
aside {
  background-color: red;
  float: right;
  height: 600px;
  width: 200px;
}
aside h2 {
  font-size: 26px;
  margin: 10px 0px;
  text-align: center;
}
aside p {
  font-size: 20px;
  text-align: center;
}
audio {
  margin-top: 296px;
  width: 200px;
}

/* Scroll for Instructions */
.scroll{
  width: 110px;
  height: 110px;
  overflow: scroll;
}

ul {
  padding-top: 40px;
  
}

.aboutusflex{
display: flex;
align-items: center;
align-content: space-around;
justify-content: space-evenly;
margin-left: 150px;

}

.aboutusflextwo{
display: flex;
align-items: center;
align-content: space-around;
justify-content: space-evenly;
margin-left: 250px;
margin-top: 50px;
  
}

div img{
  width: 200px;
  height: 200px;
  border-radius: 25%;
}
 div p{
 width: 50%;
 text-align: left;
 border-radius: 11%;
 
 }

 h1{
text-align: center;
padding: 80px;
text-align: 80px;
font-family: 'Bangers', cursive;
 }

 div div{
 flex-shrink: 1;
 flex-grow: 1;
 }

 table * {
 /* border: 10px solid red; */
 margin: 5px;
 padding: 15px;
 font-family: 'Press Start 2P', cursive;
 font-size: 1.5em;
 width: 50px;
 height: 50%;
 
}
table {
 border: 5px solid red;
}
td {
 border-top: 5px solid red;

}

#scoreTable{
height: 80px;
margin-left: 420px;
}



td:hover {
 background-color: yellow;
 color: black;
}

body{
  background: black;
}

@keyframes High-Score {
 from {background-color: red;}
 to {background-color: yellow;}
}

tr th {
 animation: High-Score 1s infinite;
}

