* {
  font-family: 'Press Start 2P', cursive;
  background: url('../assets/space.gif')
}

body {
  color: white;
}

header {
  background-color: black;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  height: 200px;
  padding-bottom: 20px;
  text-shadow: 4px 4px 8px rgb(105, 96, 96);
}

h1 {
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 0px;
}

nav{
  background-color: black;
  margin-bottom: 30px;
  display: block;
}

#gameScreen {
  padding-top: 50px;
  margin-top: 30px;
}

canvas {
  background-image: url('../assets/Volcano_Lava_100.jpg');
}

nav ul {
  display: block;
  width: 100%;
  padding: 0px;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 70px;
}

nav li {
  display: inline-block;
}

.tiles {
  display: none;
}

nav button {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  float: right;
  font-size: 14px;
  height: 40px;
  text-shadow: 2px 2px 2px rgb(105, 96, 96);
}

nav button:hover {
  transform: scaleY(1.2) translateY(-3px);
}

#container {
  padding-top: 100px;
  width: 90%;
  margin: auto;
  padding-bottom: 100px;
  /* position: relative; */
}

#win-overlay {
  background: none;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  font-size: 30px;
  top: 493px;
  height: 600px;
  width: 750px;
  position: absolute;
  text-align: center;
}
#win-overlay p {
  background: none;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#win-overlay button {
  background: none;
  font-size: 16px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#lose-overlay {
  background: none;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  top: 493px;
  height: 600px;
  width: 750px;
  position: absolute;
  text-align: center;
}

#lose-overlay p {
  background: none;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 700px;
}

#letterP {
  width: 20px;
  height: 20px;
}

#lose-overlay button {
  background: none;
  font-size: 16px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#pause-overlay {
  background: none;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  font-size: 30px;
  top: 493px;
  height: 600px;
  width: 750px;
  position: absolute;
  text-align: center;
}
#pause-overlay p {
  background: none;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#time {
  margin-left: 230px;
}

#toTheTop {
  margin-left: 170px;
}

aside {
  margin-top: -60px;
  float: right;
  height: 500px;
  width: 40%;
  padding-right: 1%;
}

aside h2 {
  font-size: 32px;
  margin: 10px 0px;
  text-align: center;
}

aside p {
  font-size: 19px;
  line-height: 20px;
  text-align: center;
}

#controls {
  line-height: 35px;
  text-align: left;
}

#spacebar {
  height: 20px;
  width: 75px;
  padding-top: 5px;
}

#rightArrow {
  height: 20px;
  width: 20px;
  padding-top: 5px;
}

#leftArrow {
  height: 20px;
  width: 20px;
  padding-top: 5px;
}

#upArrow {
  height: 20px;
  width: 20px; 
  padding-top: 5px;
}

audio {
  width: 750px;
}

#aboutUsHeader {
  margin-bottom: 20px;
  margin-top: 60px;
  font-size: 3rem;
}

.aboutusflex{
  display: flex;
  margin-bottom: 25px;

  }
  
.aboutusflex div {
  width: 30%;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  height: 400px;
  padding:10px;
  font-size: 1rem;
}

.aboutusflextwo{
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
 
  }

.aboutusflextwo div {
  width: 40%;
  height: 400px;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  padding: 10px;
}

#mike {
  font-size: .9rem;
}
table * {
  margin-top: 50px;
  padding: 20px;
  font-size: 3rem;
  text-shadow: 4px 4px 8px rgb(105, 96, 96);
  }

th {
  font-size: 4rem;
  padding-bottom: 40px;
}

table td{
  padding-top: 10px;
  text-align: center;
  padding: 25px;
}

tfoot td:hover {
  background-color: yellow;
}

#scoreTable {
  width: 80%;
  margin: auto;
  padding-top: 150px;
}

#firstScore {
  color: red;
}

#secondScore {
  color: orange;
}

#thirdScore {
  color: yellow;
}

#fourthScore {
  color: rgb(5, 201, 5);
}

#fifthScore {
  color: rgb(35, 51, 190);
}

#sixthScore {
  color: rgb(162, 0, 255);
}

#seventhScore {
  color: rgb(245, 98, 245);
}

#tryAgain:hover {
  background-color: yellow;
}

div img{
  width: 200px;
  height: 200px;
  border-radius: 25%;
}

a {
  text-decoration: none;
}

a:hover {
  color: lime;
}

a:link {
  color: yellow;
}

a:active {
  color: hotpink;
}

footer {
  width: 80%;
  text-align: center;
  margin: auto;
}

@media (max-width: 1500px) {
  aside {
    margin-top: 30px;
    float: right;
    height: 500px;
    width: 35%;
    margin-left: 1%;
    padding-right: 0%;
  }
  
  aside h2 {
    font-size: 26px;
    margin: 10px 0px;
    text-align: center;
  }
  
  aside p {
    font-size: 17px;
    text-align: center;
  }
}

@media (max-width: 1320px) {
  aside {
    margin-top: 30px;
    float: right;
    height: 500px;
    width: 30%;
    margin-left: 1%;
    padding-right: 0%;
  }
  
  aside h2 {
    font-size: 26px;
    margin: 10px 0px;
    text-align: center;
  }
  
  aside p {
    font-size: 12px;
    text-align: center;
  }
}

@keyframes High-Score {
  from {color: red;}
  to {color: yellow;}
}
  
tr th {
   animation: High-Score 1s infinite;
}

@keyframes rainbow-text {
  0% {
    color: #e87d7d;
  }
  2% {
    color: #e88a7d;
  }
  4% {
    color: #e8977d;
  }
  6% {
    color: #e8a47d;
  }
  8% {
    color: #e8b07d;
  }
  10% {
    color: #e8bd7d;
  }
  12% {
    color: #e8ca7d;
  }
  14% {
    color: #e8d77d;
  }
  16% {
    color: #e8e47d;
  }
  18% {
    color: #dfe87d;
  }
  20% {
    color: #d3e87d;
  }
  22% {
    color: #c6e87d;
  }
  24% {
    color: #b9e87d;
  }
  26% {
    color: #ace87d;
  }
  28% {
    color: #9fe87d;
  }
  30% {
    color: #92e87d;
  }
  32% {
    color: #86e87d;
  }
  34% {
    color: #7de881;
  }
  36% {
    color: #7de88e;
  }
  38% {
    color: #7de89b;
  }
  40% {
    color: #7de8a8;
  }
  42% {
    color: #7de8b5;
  }
  44% {
    color: #7de8c1;
  }
  46% {
    color: #7de8ce;
  }
  48% {
    color: #7de8db;
  }
  50% {
    color: #7de8e8;
  }
  52% {
    color: #7ddbe8;
  }
  54% {
    color: #7dcee8;
  }
  56% {
    color: #7dc1e8;
  }
  58% {
    color: #7db5e8;
  }
  60% {
    color: #7da8e8;
  }
  62% {
    color: #7d9be8;
  }
  64% {
    color: #7d8ee8;
  }
  66% {
    color: #7d81e8;
  }
  68% {
    color: #867de8;
  }
  70% {
    color: #927de8;
  }
  72% {
    color: #9f7de8;
  }
  74% {
    color: #ac7de8;
  }
  76% {
    color: #b97de8;
  }
  78% {
    color: #c67de8;
  }
  80% {
    color: #d37de8;
  }
  82% {
    color: #df7de8;
  }
  84% {
    color: #e87de4;
  }
  86% {
    color: #e87dd7;
  }
  88% {
    color: #e87dca;
  }
  90% {
    color: #e87dbd;
  }
  92% {
    color: #e87db0;
  }
  94% {
    color: #e87da4;
  }
  96% {
    color: #e87d97;
  }
  98% {
    color: #e87d8a;
  }
  100% {
    color: #e87d7d;
  }
}
.rainbow-text {
  animation: rainbow-text 1s infinite;
}